{% extends "base.html" %}
<!-- {% load pygmentize %} -->
{% block extraheader %}

<!-- <style>{% pygments_css %}</style> -->
{% endblock %}
{% block main %}
<h2>{{ comment.emotion }} by {{ comment.created_by.username }}</h2>
<div class="comment">

    <div class="comment-date">
        投稿日: {{ comment.created_at|date:"DATETIME_FORMAT" }}
        {% if user.is_authenticated and comment.created_by_id == user.id %}
        <a href="{% url 'comment_edit' comment.id %}">編集</a>
        {% endif %}
    </div>
    <div class="des">
        <p>{{ comment.description }}</p>
        <!-- <p>{{ comment.description|pygmentize:"javascript" }}</p> -->
    </div>
</div>
{% endblock %}