{% extends "base.html" %}

<div class="welcome">
    <h1>ようこそEmox_Appへ</h1>
    <p class="subtitle">あなたの感情を共有しましょう</p>
    <p class="btn btn-primary" href="{% url 'comment_new' %}">コメントを作成する</p>
</div>
<!-- <h2>コメント一覧</h2> -->
{% if comments %}
<table class="table">
    <thead>
        <tr>
            <th>投稿者</th>
            <th>投稿日</th>
            <th>感情</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
        <tr>
            <th>{{ comment.created_by.username }}</th>
            <th>{{ comment.created_at }}</th>
            <th><a href="{% url 'comment_detail' comment.id %}">{{ comment.emotion }}</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>コメントはまだ投稿されていません</p>
{% endif %}


